pytest==3.6.2
mysql-connector==2.1.6
click==6.7
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.14.1
bcrypt==3.1.4
cffi==1.11.5
pycparser==2.18
six==1.11.0
WTForms==2.2.1
Flask-WTF==0.14.2
