<!DOCTYPE html>
<html lang="en">
        <form name ="loginform" method="post">
        <header>
                <title></title>
        </header>
        <body>
            <h1>Admin Login Page </h1>

    

    
    <div class="box">

        <div>
            <span class="Loginerror"></span><br><br>
        </div>

        Email ID*: <input type="text" name="email"/><br>
        <span class="error"> </span><br><br>

        Password*: <input type="password" name="usrpassword"><br>
        <span class="error"> </span><br><br>

        <div class="buttons">
            <button type="submit" class="loginbutton" name="loginbtn" value="Login">Login</button>
            <button type="reset" class="cancelbutton" name="cancelbtn" value="Cancel">Cancel</button><br>
        </div>

    </div>

</body>
</html>