<!DOCTYPE html>
<html lang="en">

        <header>
                <title>Hospital Login Page</title>
        
            </header>

                <body>
                        <form name ="loginform" method="post">
                    <h1>Hospital Login Page </h1>

    
    <div class="box">

        <div>
            <span class="Loginerror"></span><br><br>
        </div>

        Email ID*: <input type="text" name="email"/><br>
        <span class="error"> </span><br><br>

        Password*: <input type="password" name="usrpassword"><br>
        <span class="error"> </span><br><br>

        <div class="buttons">
            <button type="submit" class="loginbutton" name="loginbtn" id="loginbtn" value="Login">Login</button>
            <button type="reset" class="cancelbutton" name="cancelbtn" id="cancelbtn" value="Cancel">Cancel</button><br>
        </div>

    </div>

</body>
</html>