<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <title> Login page</title>
</head>

<body style="background-color:#f1f2f6">
<div class="container" style="text-align: center">
<h1> Organ Donation</h1>
<h4>Pledge a Life Today!!</h4>
</div>
<div class= "container" >
    <div class="row justify-content-md-center">
        <div class="col-md-6">
	        <h2> Login as Hospital:</h2>
            <form method="post">
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" name="hemail" class="form-control" id="InputEmail1" placeholder="Enter email">
                 </div>
                <div class="form-group">
                    <label>Password</label>
                <input type="password" name="hpassword" class="form-control" id="InputPassword1" placeholder="Password">
                 </div>
                 <div class="form-check">
                    <input type="checkbox" class="form-check-input">
                     <label class="form-check-label">Remember me</label>
                 </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <input type="button" class="btn btn-primary" value="Back" onclick="location.href='#'"/>
            </form>
        </div>
    </div>
</div>

<div class= "container" >
    <div class="row justify-content-md-center">
        <div class="col-md-1">
	        <h1> OR</h1>
        </div>
    </div>
</div>
<div class= "container" >
    <div class="row justify-content-md-center">
        <div class="col-md-6">
	     <form>
             <label>Signup As Donor/Recipient Right here</label>
             <div class="form-group">
              <label>Select Here:</label>
              <select class="form-control" id="sel1">
                <option>Donor/Receiver</option>
                <option>Hospital</option>
              </select>
                 <br>
                 <input type="button" class="btn btn-primary"value="Sign Up"/>
                <input type="button" class="btn btn-primary" value="Back" onclick="location.href='#'"/>

            </div>
         </form>
        </div>
    </div>
</div>




</body>
</html>
