<!DOCTYPE html>
<html lang="en">
<head>
    <title>We've got some trouble | 404 - Resource not found</title>
   </head>
<body>
    <div class="cover"><h1>Resource not found <small>Error 404</small></h1><p class="lead">The requested resource could not be found but may be available again in the future.</p></div>
   </body>
   <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
        <footer style="color: white; text-align: center">
            <a class="nav-link" href="#">Copyright©2018</a>
        </footer>
    </nav>
</div>

</html>